---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div>
    <label for="styleSelector">Choose code highlight style:</label>
    <select id="styleSelector" onchange="changeStylesheet()">
      <option value="stackoverflow-light.min.css">Stack Overflow Light</option>
	  <option value="stackoverflow-dark.min.css">Stack Overflow Dark</option>
	  <option value="vs.min.css">Visual Studio</option>
	  <option value="vs2015.css">Visual Studio 2015 Dark</option>
      <!-- Add more options for other stylesheets -->
    </select>
  </div>	

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <script>
    function changeStylesheet() {
      var selectedStyle = document.getElementById("styleSelector").value;
      document.getElementById("selectedStylesheet").href = "/js/highlightjs/styles/" + selectedStyle;
      localStorage.setItem("selectedStyle", selectedStyle);
    }
	
    function setInitialStyle() {
      var storedStyle = localStorage.getItem("selectedStyle");

      if (storedStyle) {
        document.getElementById("selectedStylesheet").href = "/js/highlightjs/styles/" + storedStyle;
        document.getElementById("styleSelector").value = storedStyle;
      }
    }
	
    $(document).ready(function () {
      setInitialStyle();
    });
  </script>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% if site.comments_repo %}
  {% include comments.html %}
{% endif %}
